*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #ededed;
  font-family: sans-serif;
  font-size: 20px;
  padding: 40px;
}

h1 {
  font-size:24px;
  font-weight: bold;
  color:#000000;
}

.container {
  margin: 10%;
  width: 550px;
}

.content {
  display: block;
  line-height: 150%;
  padding: 20px;
  width: 85%;
}

.location:hover {
  background-color: #aaa;
}

.location {
  border-top: 2px solid #000000;
}

.h3 {
  display: inline;
}

.arrow {
  float: right;
  padding: 20px;
  width: 15%;
}

.left-arrow {
  float: left;
  padding: 40px;
}

nav {
  margin: 0 auto;
  padding: 20px;
  background-color: #000000;
  height: 80px;
  width: 100%;
}

.restaurant-list {
  display: inline;
}
